
<button (click)="goTaskList()" class="button">Go task list</button>
<div class="tasks-wrapper">   
    <div *ngFor="let task of tasks" class="task">
      <div>Name: {{ task.name }}</div>
      <div *ngIf="task.times;" >
        <div class="times" *ngFor="let time of task.times">
            <div>
                Description: {{time.description}}
            </div>
            <div>
                Begin Date: {{formatDate(time.begin_date)}}
            </div>
            <div>
                End date: {{formatDate(time.end_date)}}
            </div>
            <div>
                Spend time: {{timeFormatted(time.spent_time)}}
            </div>
        </div>
      </div>
    </div>
  </div>
  