.tasks-wrapper{
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.task{

    display: flex;
    flex-direction: column;
    gap: 4px;
    background-color: rgb(223, 221, 221);
    padding: 15px;
    border-radius: 8px;
    min-width: 300px;
}

  